Flask==0.10.1
Flask-SQLAlchemy==1.0
Jinja2==2.7.1
MarkupSafe==0.18
PyYAML==3.05
SQLAlchemy==0.8.3
Werkzeug==0.9.4
django==1.6
endpoints==0.5
ez-setup==0.9
gdata==2.0.18
google-api-python-client==1.2
gunicorn==18.0
httplib2==0.8
itsdangerous==0.23
lxml==3.2.4
oauth2==1.5.211
oauth2client==1.2
pil==1.1.7
protorpc==0.9.1
psycopg2==2.5.1
pulp==1.5.4
pyamf==0.6.1
pyparsing==1.5.7
virtualenv==1.10.1
webapp2==2.5.2
webob==1.2.3
