{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <h1 class="page-header">Add Character</h1>
    <form action="{{ url_for('add_character') }}" method=post>
	  <select class="form-control" name="charclass">
	    {% for cc, val in charclasses.iteritems() %}
	  	  <option {% if val in selected_class %} selected="True" {% endif %} value={{ cc|safe }}>{{ val|safe }}</option>
	    {% endfor %}
	  </select>
	  <div class="form-group">
		  <label for="charname">Name</label>
		  <input type="text" class="form-control" name=charname id="charname" placeholder="Billdalf" value="{{ editcharacter.Name }}"></input>
	  </div>
	  <div class="form-group">
		  <label for="charlastrun">Last Run</label>
		  <input type="datetime" class="form-control" name=charlastrun id="charlastrun" placeholder="2/9/2014" value="{{ editcharacter.LastRun }}"></input>
		  <p class="help-block">When's the last time this character attempted Niddhoggr's Nest? (e.g. 4/12/2014)</p>
	  </div>
	  <div class="form-group">
		  <label for="charplayername">Player Name</label>
		  <input type="text" class="form-control" name=charplayername id="charplayername" placeholder="Billy" value="{{ editcharacter.PlayerName }}"></input>
	  </div>
	  <div class="form-group">
	      <label for="charpresent">Present?</label>
		  <input type="checkbox" class="boolean optional" {% if str(editcharacter.Present).lower()) == 'true' %} checked="True" {% endif %} name=charpresent id="charpresent" value="{{ editcharacter.Present }}"></input>
		  <p class="help-block">Is the character online?</p>
	  </div>
	  <h3>Quests Completed</h3>
	  <div class="table-responsive">
	      <table class="table table-striped mappedcharacter">
	        <tr>
	          <th>Part of Run</th>
	          <th>Name</th>
	  	    </tr>
	      {% for mq in mappedquests %}
	  	    <tr>
	  	      <td><input {% if mq.id in edit_character_quests %} checked="True" {% endif %} type=checkbox name=cbquests value="{{ mq.id }}"></td>
	  	      <td>{{ mq.name|safe }}</td>
	  	    </tr>
	      {% endfor %}
	      </table>
	  </div>
	  <button type=submit class="btn btn-primary" name=add value="{{ editcharacter.id }}">Submit</button>
      </dl>
    </form>
  {% endif %}
{% endblock %}