{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <h1 class="page-header">Add Run</h1>
    <form role="form" action="{{ url_for('add_run_action') }}" method=post enctype="multipart/form-data">
      <select class="form-control" name="instancelist">
        {% for mi in mappedinstances %}
          <option {% if mi.id in selected_run %} selected="True" {% endif %} value={{ mi.id|safe }}>{{ mi.name|safe }}</option>
        {% endfor %}
      </select>
      <button type=submit name=action value=LoadInstance class="btn btn-primary">Load</button>
      <p>Please click the load button before proceeding to generate the mobs killed in the party.</p>
      <h3>Mobs Killed in Party</h3>
      <div class="table-responsive">
        <table class="table table-striped mappedmob">
          <tr>
            <th>Killed Mob</th>
            <th>Name</th>
          </tr>
          {% for mm in mappedmobs %}
            <tr>
    	      <td><input {% if mm.id in edit_run_mobs_killed %} checked="True" {% endif %} type=checkbox name=cbmobkill value="{{ mm.mob_id }}"></td>
    	      <td>{{ mm.mob_name|safe }}</td>
    	    </tr>
    	  {% endfor %}
    	</table>
      </div>
      <div class="form-group">
        <label for="nrunscreenshot">Screenshot</label>
    	<input type="file" id="nrunscreenshot" name=nrunscreenshot placeholder="C:\screenshot\run.jpg" value="{{ editrun.evidence_file_path }}">
    	<img for="nrunscreenshot" id="nrunscreenshotpreview" src="{{ editrun.evidence_url|safe }}" alt="your image" />
    	<p class="help-block">Please submit a screenshot</p>
      </div>
      <h3>Characters in Party</h3>
      <div class="table-responsive">
        <table class="table table-striped mappedcharacter">
          <tr>
            <th>Part of Run</th>
            <th>Borrowed Guild Gear?</th>
            <th>Class</th>
            <th>Player Name</th>
            <th>Name</th>
          </tr>
          {% for mc in mappedcharacters %}
    	    <tr>
    	      <td><input {% if mc.id in edit_run_chars %} checked="True" {% endif %} type=checkbox name=cbsearch value="{{ mc.id }}"></td>
    	      <td><input {% if mc.id in edit_run_borrow_chars %} checked="True" {% endif %} type=checkbox name=cbborrow value="{{ mc.id }}"></td>
    	      <td>{{ mc.Class|safe }}</td>
    	      <td>{{ mc.PlayerName|safe }}</td>
    	      <td>{{ mc.Name|safe }}</td>
    	    </tr>
    	  {% endfor %}
        </table>
      </div>
      <div class="form-group">
        <label for="nrundate">Date</label>
    	<input type="text" class="form-control" id="nrundate" name=nrundate placeholder="12/12/2013" value="{{ editrun.date }}"></input>
      </div>
      <label>
        <input
          {% if editrun.success %}
    	    checked="True"
    	  {% endif %}
    	  type=checkbox
    	  id="cbsuccess"
    	  name=cbsuccess
    	  value="{{ editrun.success }}"> Success
      </label>
      <div class="form-group">
    	<label for="nrunnotes">Notes</label>
    	<textarea class="form-control" rows="3" id="nrunnotes" name=nrunnotes placeholder="Got to level 75" value="{{ editrun.notes }}"></textarea>
      </div>
      <button type=submit class="btn btn-primary" name=add value="{{ editrun.id }}">Submit</button>
    </form>
    <script>
      function readURL(input) {
    	if (input.files && input.files[0]) {
    	  var reader = new FileReader();
    	  reader.onload = function (e) {
    	    $('#nrunscreenshotpreview').attr('src', e.target.result);
    	  }
    	  reader.readAsDataURL(input.files[0]);
        }
      }
      $("#nrunscreenshot").change(function(){
        readURL(this);
      });
    </script>
  {% endif %}
{% endblock %}