{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('market_results') }}" method=post class=run-calculation>
      <h2>Guild Dashboard</h2>
      <table class="guild dashboard">
        <tr>
        <td><a href="{{ url_for('show_entries') }}">Roster</a></td>
        <td><a href="{{ url_for('market_results') }}">Market Results</a></td>
        <td><a href="{{ url_for('treasury') }}">Treasury</a></td>
        <td><a href="{{ url_for('points') }}">Points</a></td>
      </table>
    </form>
    <h2>Market Results</h2>
    <table class="guild dashboard">
      <tr>
      <td><a href="{{ url_for('market_current_results') }}">Current Results</a></td>
      <td><a href="{{ url_for('market_history') }}">History</a></td>
      <td><a href="{{ url_for('market_search_list') }}">Search List</a></td>
    </table>
    <form action="{{ url_for('update_search_list') }}" method=post>
    <h3>Search List</h3>
    <table class=marketsearch>
    <tr>
	  <th>Search?</th>
	  <th>Item ID</th>
	  <th>Name</th>
    </tr>
    {% for ms in marketsearchs %}
      <tr>
      <td>
        <input checked="{{ ms.search }}" type=checkbox name=cbsearch value="{{ ms.itemid }}">
      </td>
      <td>{{ ms.itemid|safe }}</td>
      <td>{{ ms.name|safe }}</td>
      </tr>
    {% endfor %}
    </table>
    <input type=submit value=Save>
    </form>
    <form action="{{ url_for('add_to_search_list') }}" method=post>
      <h2>Search Item</h2>
      <dd>Item Id:<input type=text name=nitemid placeholder="578">
      <dd>Item Name:<input type=text name=nname placeholder="Strawberry">
      <input type=submit name=action value=Add></>
    </form>
  {% endif %}
{% endblock %}