{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <h1 class="page-header">History</h1>
    <form method=post action="{{ url_for('item_history') }}" class=item-history>
    <select name="itemslist">
	{% for ms in marketsearchs %}
	  <option value={{ ms.itemid|safe }}>{{ ms.name|safe }}</option>
	{% endfor %}
	</select>
	<input type=submit name=action value="Load">
	</form>
	<div class="row placeholder">
	  <script type="text/javascript" src="http://kozea.github.com/pygal.js/javascripts/svg.jquery.js"></script>
      <script type="text/javascript" src="http://kozea.github.com/pygal.js/javascripts/pygal-tooltips.js"></script>
      <div class="col-xs-6 col-sm-3 placeholder">
	    {{ pricechart|safe }}
	  </div>
	  <div class="col-xs-6 col-sm-3 placeholder">
        {{ volumechart|safe }}
	  </div>
	</div>
	<div class="table-responsive">
    <table class=class="table table-striped marketresult">
    {% for group in marketresults|groupby('itemid') %}
      <tr><td colspan="6"><h2>{{ group.grouper|safe }}</h2></td></tr>
      {% for mr in group.list %}
        <tr><td colspan="6"><h2>{{ mr.name|safe }}</h2></td></tr>
        <tr>
	    <th>Slotted with</th>
	    <th>Price</th>
	    <th>Amount</th>
	    <th>Vendor</th>
	    <th>Location</th>
	    <th>Date</th>
        </tr>
        <td>
        {% for c in mr.cards %}
	      <li>{{ c|safe }}
	    {% endfor %}
	    </td>
	    <td style="width:7%;">{{ "{:,.2f}".format(mr.price)|safe }}</td>
	    <td style="width:5%;">{{ mr.amount|safe }}</td>
	    <td style="width:15%;">{{ mr.vendor|safe }}</td>
	    <td style="width:8%;">{{ mr.coords|replace(".","")|safe }}</td>
        <td style="width:10%;">{{ mr.date|safe }}</td>
      {% endfor %}
    {% endfor %}
    </table>
    </div>
  {% endif %}
{% endblock %}