{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <h1 class="page-header">Search List</h1>
	<form action="{{ url_for('add_to_search_list') }}" method=post>
	  <h2>Search Item</h2>
	  <dd>Item Id:<input type=text name=nitemid placeholder="578">
	  <dd>Item Name:<input type=text name=nname placeholder="Strawberry">
	  <input type=submit name=action value=Add></>
    </form>
    <form action="{{ url_for('update_search_list') }}" method=post>
    <h3>Search List</h3>
    <div class="table-responsive">
    <table class="table table-striped marketsearch">
    <tr>
	  <th>Search?</th>
	  <th>Item ID</th>
	  <th>Name</th>
    </tr>
    {% for ms in marketsearchs %}
      <tr>
      <td>
        <input
          {% if ms.search %}
            checked="True"
          {% endif %}
          type=checkbox
          name=cbsearch
          value="{{ ms.itemid }}">
      </td>
      <td>{{ ms.itemid|safe }}</td>
      <td>{{ ms.name|safe }}</td>
      </tr>
    {% endfor %}
    </table>
    </div>
    <input type=submit name=action value="Save">
    <input type=submit name=action value="Use Default">
    </form>
  {% endif %}
{% endblock %}