{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('market_results') }}" method=post class=run-calculation>
      <h2>Guild Dashboard</h2>
      <table class="guild dashboard">
        <tr>
        <td><a href="{{ url_for('show_entries') }}">Roster</a></td>
        <td><a href="{{ url_for('market_results') }}">Market Results</a></td>
        <td><a href="{{ url_for('treasury') }}">Treasury</a></td>
        <td><a href="{{ url_for('points') }}">Points</a></td>
      </table>
    </form>
    <h2>Market Results</h2>
    <table class="guild dashboard">
      <tr>
      <td><a href="{{ url_for('market_current_results') }}">Current Results</a></td>
      <td><a href="{{ url_for('market_history') }}">History</a></td>
      <td><a href="{{ url_for('market_search_list') }}">Search List</a></td>
    </table>
    <h3>History</h3>
    <form method="post" action="/item_history">
	<select name="itemslist">
	{% for calendar_list_entry in calendar_list['items'] %}
	    <option value={{ calendar_list_entry['id'] }}>{{ calendar_list_entry['summary'] }
	</option>
	{% endfor %}
	</select>
    <figure>
      {{ histchart.render()|safe }}
    </figure>
    <table class=marketresult>
    {% for group in marketresults|groupby('itemid') %}
      <tr><td colspan="6"><h2>{{ group.grouper|safe }}</h2></td></tr>
      {% for mr in group.list %}
        <tr><td colspan="6"><h2>{{ mr.name|safe }}</h2></td></tr>
        <tr>
	    <th>Slotted with</th>
	    <th>Price</th>
	    <th>Amount</th>
	    <th>Vendor</th>
	    <th>Location</th>
	    <th>Date</th>
        </tr>
        <td>
        {% for c in mr.cards %}
	      <li>{{ c|safe }}
	    {% endfor %}
	    </td>
	    <td style="width:7%;">{{ "{:,.2f}".format(mr.price)|safe }}</td>
	    <td style="width:5%;">{{ mr.amount|safe }}</td>
	    <td style="width:15%;">{{ mr.vendor|safe }}</td>
	    <td style="width:8%;">{{ mr.coords|replace(".","")|safe }}</td>
        <td style="width:10%;">{{ mr.date|safe }}</td>
      {% endfor %}
    {% endfor %}
    </table>
  {% endif %}
{% endblock %}