{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}

<h1>Party Plans</h1>
<h3>This is a summary of <a href="{{ url_for('party_planner') }}">Plans</a></h3>
<form role="form" action="{{ url_for('party_plan_action') }}" method=post class=add-plan>
  <div class="table-responsive">
    <table class="table table-striped plan">
      <tr>
        <th>Modify</th>
        <th>Screenshot</th>
        <th class="hidden-xs hidden-sm">Notes</th>
      </tr>
      {% for p in plans %}
        <tr>
          <td><dd><button type=submit class="btn btn-default" name=delete value="{{ p.id }}">Delete</button><dd><button type=submit class="btn btn-default" name=edit value="{{ p.id }}">Edit</button><dd><button type=submit class="btn btn-default" name=view value="{{ p.id }}">View</button></td>
          <td><img src="{{ p.evidence_url|safe }}" class="img-responsive" alt="Plan screenshot"></td>
          <td class="hidden-xs hidden-sm">{{ p.notes|safe }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
</form>
<p><strong>Note this is still in beta.  Feedback is always welcome!</strong></p>
  {% endif %}
{% endblock %}