{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
 <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
 <script type="text/javascript" src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>
<script type='text/javascript'>//<![CDATA[
$(window).load(function(){
// Your original element
var ele = $('.draggable');

$('.draggable').draggable({
    helper: "clone"
});
$('.draggable').bind('dragstop', function (event, ui) {

    $(this).after($(ui.helper).clone().draggable());

});


ele.css('position', 'relative');


$('.droppable').droppable({
            activeClass: "ui-state-hover",
            hoverClass: "ui-state-active",
            drop: function (event, ui) {
                var drag_id = $(ui.draggable).attr("id");
                var targetElem = $(this).attr("id");
                var og_id = $('#original').attr("id");
                deleteMe = true;
              $(this)
            .addClass("ui-state-highlight")
            .find("p");

            if (og_id != drag_id)
            {
            	$(ui.helper).remove(); //destroy clone
            	$(ui.draggable).remove(); //remove from list
            }
            }
        });
});//]]>

</script>
<script type="text/javascript">//<![CDATA[

$(function() {

	  $("#btnsubmit").click( function()
           {
				//alert('user click');
           		var plan_elements = [];
				var field = $('#div1');
				plan_elements.push(field);
				var drag_elements = $('.draggable').not("#original");
				$('.draggable').not('#original').each(function(i, item) {
					plan_elements.push(item);
				});
				var divsToJPG = new DivsToJPG(plan_elements);
		   });

});

function toblob(stuff) {
	var g, type, bi, ab, ua, b, i;
    g = stuff.split(',');

    if (g[0].split('png')[1])
        type = 'png';
    else if (g[0].split('jpeg')[1])
        type = 'jpeg';
    else
        return false;
    bi = atob(g[1]);
    ab = new ArrayBuffer(bi.length);
    ua = new Uint8Array(ab);
    for (i = 0; i < bi.length; i++) {
        ua[i] = bi.charCodeAt(i);
    }
    b = new Blob([ua], {
        type: "image/" + type
    });
    return b;
}
$SCRIPT_ROOT = "";
var DivsToJPG = function( image_parent ) {
				    this.canvasSizeX = 0;
				    this.canvasSizeY = 0;
				    this.images = [];
				    this.init = function( parent ) {
				    	images = parent;
				    	//this.images = parent.find('img');
				        this.setSizes();
				        this.createCanvas();
				        this.drawImages();
				        //alert('export');
				        this.exportJPG();
				    }

				    this.setSizes = function() {

				        for (var i = 0, l = images.length; i < l ; i++) {
				        	var currentImage = images[i];
				            var posX = $(currentImage).position().left;
							var posY = $(currentImage).position().top;
							if($(currentImage).is("div")){
								currentImage = $(currentImage).find("img").get(0);
							}

							var imheight = $(currentImage).height();
				            var imwidth = $(currentImage).width();

				            if (this.canvasSizeX < (posX+imwidth)){
				            	this.canvasSizeX = (posX+imwidth);
				            }

				            //console.log(this.canvasSizeX);

				            if (this.canvasSizeY < (posY+imheight)){
				            	this.canvasSizeX = (posY+imheight);
				            }

				        }
				    }

				    this.createCanvas = function() {
				    	if(typeof this.canvas != 'undefined')
				    		return;
				        this.canvas = document.createElement('canvas');
				        this.canvas.id     = "exportCanvas";
				        this.canvas.width  = this.canvasSizeX;
				        this.canvas.height = this.canvasSizeY;
				        this.ctx = this.canvas.getContext("2d");
				        document.body.appendChild(this.canvas);
				    }

				    this.drawImages = function() {
				        for (var i = 0, l = images.length; i < l ; i++) {
				        	//alert(i);
				        	var currentImage = images[i];

				            if($(currentImage).is("div")){
								currentImage = $(currentImage).find("img").get(0);
				            }

				            var posX = $(currentImage).position().left;
							var posY = $(currentImage).position().top;

				            var imheight = $(currentImage).height();
				            var imwidth = $(currentImage).width();

							var ctx = document.getElementById('exportCanvas').getContext('2d');
				            var img;
				            if(!$(currentImage).is("img")){
				            	img = currentImage.get(0);
				            }
				            else
				            {
				            	img = currentImage;
				            }
							if(!$(img).is("img")){
								img = $(img).find("img").get(0);
				            }
				            ctx.drawImage(img, posX, posY, imwidth, imheight);
				        }
				    }

				    this.exportJPG = function() {
				    	//alert('exporting');
				    	var canvas = document.getElementById('exportCanvas');
						var img;
						try{
							img = canvas.toDataURL();
						}
						catch(err){
							alert(err);
						}
						var dataURL = canvas.toDataURL();
				    	this.img = document.createElement('img');
				        this.img.id = "createdImage";
				        this.img.src     = dataURL;
				        alert(dataURL);
				        var container = $('#preview');
				        s = new FormData();
						s.append('image', toblob(this.img));
						$.ajax({
						  url: " /plan_thumbnail ",
						  type: 'POST',
						  cache: false,
						  contentType: false,
    					  processData: false,
    					  data : s,
    					  success: function(data){
						          alert(data);
    					  }


						});
						//$.getJSON($SCRIPT_ROOT + '/plan_thumbnail', {
						//  s_data: s
						//}, function(data) {
						//   $("#result").text(data.result);
      					//});
				    }

				    this.init( image_parent );
				}
//]]>

</script>
<style type="text/css">
        #div2
        {
            width: 95%;
            height: 95%;
            border: 1px solid gray;
            background-position-y: 40%;
            background-size: 100%;
            position: relative;
        }
        .draggable
        {
        	display: inline-block
        }
    </style>
<form id="party_plan_form" action="{{ url_for('party_planner_action') }}" method=post>
<h1>Party Planning</h1>
<h3>Drag players to grid</h3>
<div>
  <div id="original" class="draggable">
    <img src="{{ url_for('static', filename='f_champ.png') }}">
  </div>
  <div id="original" class="draggable">
    <img src="{{ url_for('static', filename='gypsy.png') }}">
  </div>
  <div id="original" class="draggable">
    <img src="{{ url_for('static', filename='f_creator.png') }}">
  </div>
  <div id="original" class="draggable">
    <img src="{{ url_for('static', filename='f_gs.png') }}">
  </div>
  <div id="original" class="draggable">
    <img src="{{ url_for('static', filename='f_hp.png') }}">
  </div>
  <div id="original" class="draggable">
    <img src="{{ url_for('static', filename='f_hw.png') }}">
  </div>
  <div id="original" class="draggable">
    <img src="{{ url_for('static', filename='f_lk.png') }}">
  </div>
  <div id="original" class="draggable">
    <img src="{{ url_for('static', filename='f_ninja.png') }}">
  </div>
  <div id="original" class="draggable">
    <img src="{{ url_for('static', filename='f_paladin.png') }}">
  </div>
  <div id="original" class="draggable">
    <img src="{{ url_for('static', filename='f_peco_lk.png') }}">
  </div>
  <div id="original" class="draggable">
    <img src="{{ url_for('static', filename='f_peco_paladin.png') }}">
  </div>
  <div id="original" class="draggable">
    <img src="{{ url_for('static', filename='f_prof.png') }}">
  </div>
  <div id="original" class="draggable">
    <img src="{{ url_for('static', filename='f_sg.png') }}">
  </div>
  <div id="original" class="draggable">
    <img src="{{ url_for('static', filename='f_sinx.png') }}">
  </div>
  <div id="original" class="draggable">
    <img src="{{ url_for('static', filename='f_sl.png') }}">
  </div>
  <div id="original" class="draggable">
    <img src="{{ url_for('static', filename='f_sn.png') }}">
  </div>
  <div id="original" class="draggable">
    <img src="{{ url_for('static', filename='f_sniper.png') }}">
  </div>
  <div id="original" class="draggable">
    <img src="{{ url_for('static', filename='f_stalker.png') }}">
  </div>
  <div id="original" class="draggable">
    <img src="{{ url_for('static', filename='f_tk.png') }}">
  </div>
  <div id="original" class="draggable">
    <img src="{{ url_for('static', filename='f_ws.png') }}">
  </div>
</div>

<div>
  <div id="original" class="draggable">
    <img src="{{ url_for('static', filename='champ.png') }}">
  </div>
  <div id="original" class="draggable">
    <img src="{{ url_for('static', filename='clown.png') }}">
  </div>
  <div id="original" class="draggable">
    <img src="{{ url_for('static', filename='creator.png') }}">
  </div>
  <div id="original" class="draggable">
    <img src="{{ url_for('static', filename='gs.png') }}">
  </div>
  <div id="original" class="draggable">
    <img src="{{ url_for('static', filename='hp.png') }}">
  </div>
  <div id="original" class="draggable">
    <img src="{{ url_for('static', filename='hw.png') }}">
  </div>
  <div id="original" class="draggable">
    <img src="{{ url_for('static', filename='lk.png') }}">
  </div>
  <div id="original" class="draggable">
    <img src="{{ url_for('static', filename='ninja.png') }}">
  </div>
  <div id="original" class="draggable">
    <img src="{{ url_for('static', filename='peco_lk.png') }}">
  </div>
  <div id="original" class="draggable">
    <img src="{{ url_for('static', filename='paladin.png') }}">
  </div>
  <div id="original" class="draggable">
    <img src="{{ url_for('static', filename='peco_paladin.png') }}">
  </div>
  <div id="original" class="draggable">
    <img src="{{ url_for('static', filename='prof.png') }}">
  </div>
  <div id="original" class="draggable">
    <img src="{{ url_for('static', filename='sg.png') }}">
  </div>
  <div id="original" class="draggable">
    <img src="{{ url_for('static', filename='sinx.png') }}">
  </div>
  <div id="original" class="draggable">
    <img src="{{ url_for('static', filename='sl.png') }}">
  </div>
  <div id="original" class="draggable">
    <img src="{{ url_for('static', filename='sn.png') }}">
  </div>
  <div id="original" class="draggable">
    <img src="{{ url_for('static', filename='sniper.png') }}">
  </div>
  <div id="original" class="draggable">
    <img src="{{ url_for('static', filename='stalker.png') }}">
  </div>
  <div id="original" class="draggable">
    <img src="{{ url_for('static', filename='tk.png') }}">
  </div>
  <div id="original" class="draggable">
    <img src="{{ url_for('static', filename='ws.png') }}">
  </div>
</div>
<h3>Drag Mobs to grid</h3>
<div>
  <div id="original" class="draggable">
    <img src="{{ url_for('static', filename='beelzebub.png') }}">
  </div>
  <div id="original" class="draggable">
    <img src="{{ url_for('static', filename='ifrit.png') }}">
  </div>
  <div id="original" class="draggable">
    <img src="{{ url_for('static', filename='niddhoggr_shadow.png') }}">
  </div>
  <div id="original" class="draggable">
    <img src="{{ url_for('static', filename='valkyrie_randgris.png') }}">
  </div>
<div>

<div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
  <img src="{{ url_for('static', filename='rotated_blank16.gif') }}" HSPACE=5 VSPACE=5 BORDER=0>
</div>
<div id="div2" class="droppable">
  <p><strong>Drop here to remove.  We prevent removing originals!</strong></p>
</div>

<p>Note this is still in beta.  Feedback is always welcome!</p>

<div id="preview">
  <span id=result>?</span>
</div>

<div class="form-group">
  <label for="nplannotes">Notes</label>
  <input type="text" class="form-control" id="nplannotes" name=nplannotes placeholder="Got to level 75" value="{{ plan_notes }}"></input>
</div>

<button type=submit class="btn btn-primary" id="btnsubmit" name=add value="1">Submit</button>

</form>
  {% endif %}
{% endblock %}