{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
 <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
 <script type="text/javascript" src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>
<script type='text/javascript'>//<![CDATA[
$(window).load(function(){
// Your original element
var ele = $('.draggable');

$('.draggable').draggable({
    helper: "clone"
});
$('.draggable').bind('dragstop', function (event, ui) {

    $(this).after($(ui.helper).clone().draggable());

});


ele.css('position', 'relative');


$('.droppable').droppable({
            activeClass: "ui-state-hover",
            hoverClass: "ui-state-active",
            drop: function (event, ui) {
                var drag_id = $(ui.draggable).attr("id");
                var targetElem = $(this).attr("id");
                var og_id = $('#original').attr("id");
                deleteMe = true;
              $(this)
            .addClass("ui-state-highlight")
            .find("p");

            if (og_id != drag_id)
            {
            	$(ui.helper).remove(); //destroy clone
            	$(ui.draggable).remove(); //remove from list
            }
            }
        });
});//]]>

</script>
<script type="text/javascript">//<![CDATA[

$(function() {

	  $("#btnclearplayers").click( function(){
	  		$('.player').not("#original").remove();
	  		});
      $("#btnclearmobs").click( function(){
      		$('.mob').not("#original").remove();
      		});
      $("#btncleareffects").click( function(){
      		$('.effect').not("#original").remove();
      		});

});
//]]>

</script>
<style type="text/css">
        #div2
        {
            width: 95%;
            height: 95%;
            border: 1px solid gray;
            background-position-y: 40%;
            background-size: 100%;
            position: relative;
        }
        .draggable
        {
        	display: inline-block
        }
        .bg
		{
		    opacity:0.5
        }
    </style>
<h1>Party Planning</h1>
<h3>Drag players to grid</h3>
<div>
  <div id="original" class="draggable player">
    <img src="{{ url_for('static', filename='f_champ.png') }}">
  </div>
  <div id="original" class="draggable player">
    <img src="{{ url_for('static', filename='gypsy.png') }}">
  </div>
  <div id="original" class="draggable player">
    <img src="{{ url_for('static', filename='f_creator.png') }}">
  </div>
  <div id="original" class="draggable player">
    <img src="{{ url_for('static', filename='f_gs.png') }}">
  </div>
  <div id="original" class="draggable player">
    <img src="{{ url_for('static', filename='f_hp.png') }}">
  </div>
  <div id="original" class="draggable player">
    <img src="{{ url_for('static', filename='f_hw.png') }}">
  </div>
  <div id="original" class="draggable player">
    <img src="{{ url_for('static', filename='f_lk.png') }}">
  </div>
  <div id="original" class="draggable player">
    <img src="{{ url_for('static', filename='f_ninja.png') }}">
  </div>
  <div id="original" class="draggable player">
    <img src="{{ url_for('static', filename='f_paladin.png') }}">
  </div>
  <div id="original" class="draggable player">
    <img src="{{ url_for('static', filename='f_peco_lk.png') }}">
  </div>
  <div id="original" class="draggable player">
    <img src="{{ url_for('static', filename='f_peco_paladin.png') }}">
  </div>
  <div id="original" class="draggable player">
    <img src="{{ url_for('static', filename='f_prof.png') }}">
  </div>
  <div id="original" class="draggable player">
    <img src="{{ url_for('static', filename='f_sg.png') }}">
  </div>
  <div id="original" class="draggable player">
    <img src="{{ url_for('static', filename='f_sinx.png') }}">
  </div>
  <div id="original" class="draggable player">
    <img src="{{ url_for('static', filename='f_sl.png') }}">
  </div>
  <div id="original" class="draggable player">
    <img src="{{ url_for('static', filename='f_sn.png') }}">
  </div>
  <div id="original" class="draggable player">
    <img src="{{ url_for('static', filename='f_sniper.png') }}">
  </div>
  <div id="original" class="draggable player">
    <img src="{{ url_for('static', filename='f_stalker.png') }}">
  </div>
  <div id="original" class="draggable player">
    <img src="{{ url_for('static', filename='f_tk.png') }}">
  </div>
  <div id="original" class="draggable player">
    <img src="{{ url_for('static', filename='f_ws.png') }}">
  </div>
</div>

<div>
  <div id="original" class="draggable player">
    <img src="{{ url_for('static', filename='champ.png') }}">
  </div>
  <div id="original" class="draggable player">
    <img src="{{ url_for('static', filename='clown.png') }}">
  </div>
  <div id="original" class="draggable player">
    <img src="{{ url_for('static', filename='creator.png') }}">
  </div>
  <div id="original" class="draggable player">
    <img src="{{ url_for('static', filename='gs.png') }}">
  </div>
  <div id="original" class="draggable player">
    <img src="{{ url_for('static', filename='hp.png') }}">
  </div>
  <div id="original" class="draggable player">
    <img src="{{ url_for('static', filename='hw.png') }}">
  </div>
  <div id="original" class="draggable player">
    <img src="{{ url_for('static', filename='lk.png') }}">
  </div>
  <div id="original" class="draggable player">
    <img src="{{ url_for('static', filename='ninja.png') }}">
  </div>
  <div id="original" class="draggable player">
    <img src="{{ url_for('static', filename='peco_lk.png') }}">
  </div>
  <div id="original" class="draggable player">
    <img src="{{ url_for('static', filename='paladin.png') }}">
  </div>
  <div id="original" class="draggable player">
    <img src="{{ url_for('static', filename='peco_paladin.png') }}">
  </div>
  <div id="original" class="draggable player">
    <img src="{{ url_for('static', filename='prof.png') }}">
  </div>
  <div id="original" class="draggable player">
    <img src="{{ url_for('static', filename='sg.png') }}">
  </div>
  <div id="original" class="draggable player">
    <img src="{{ url_for('static', filename='sinx.png') }}">
  </div>
  <div id="original" class="draggable player">
    <img src="{{ url_for('static', filename='sl.png') }}">
  </div>
  <div id="original" class="draggable player">
    <img src="{{ url_for('static', filename='sn.png') }}">
  </div>
  <div id="original" class="draggable player">
    <img src="{{ url_for('static', filename='sniper.png') }}">
  </div>
  <div id="original" class="draggable player">
    <img src="{{ url_for('static', filename='stalker.png') }}">
  </div>
  <div id="original" class="draggable player">
    <img src="{{ url_for('static', filename='tk.png') }}">
  </div>
  <div id="original" class="draggable player">
    <img src="{{ url_for('static', filename='ws.png') }}">
  </div>
</div>
<h3>Drag Mobs to grid</h3>
<div>
  <div id="original" class="draggable mob">
    <img src="{{ url_for('static', filename='beelzebub.png') }}">
  </div>
  <div id="original" class="draggable mob">
    <img src="{{ url_for('static', filename='ifrit.png') }}">
  </div>
  <div id="original" class="draggable mob">
    <img src="{{ url_for('static', filename='niddhoggr_shadow.png') }}">
  </div>
  <div id="original" class="draggable mob">
    <img src="{{ url_for('static', filename='valkyrie_randgris.png') }}">
  </div>
  <div id="original" class="draggable mob">
    <img src="{{ url_for('static', filename='hp_mvp.png') }}">
  </div>
  <div id="original" class="draggable mob">
    <img src="{{ url_for('static', filename='hw_mvp.png') }}">
  </div>
  <div id="original" class="draggable mob">
    <img src="{{ url_for('static', filename='lk_mvp.png') }}">
  </div>
  <div id="original" class="draggable mob">
    <img src="{{ url_for('static', filename='sinx_mvp.png') }}">
  </div>
  <div id="original" class="draggable mob">
    <img src="{{ url_for('static', filename='sniper_mvp.png') }}">
  </div>
  <div id="original" class="draggable mob">
    <img src="{{ url_for('static', filename='wounded_morroc.png') }}">
  </div>
  <div id="original" class="draggable mob">
    <img src="{{ url_for('static', filename='ws_mvp.png') }}">
  </div>
<div>

<div>
  <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
    <img src="{{ url_for('static', filename='blank16.gif') }}" HSPACE=5 VSPACE=5 BORDER=0>
  </div>
  <button class="btn btn-default" id="btnclearplayers">Clear Players</button>
  <button class="btn btn-default" id="btnclearmobs">Clear Mobs</button>
  <button class="btn btn-default" id="btncleareffects">Clear Effects</button>
</div>

<h3>Add effects to grid</h3>
<div>
  <div id="original" class="draggable effect bg">
    <img src="{{ url_for('static', filename='sw.png') }}">
  </div>
  <div id="original" class="draggable effect bg">
    <img src="{{ url_for('static', filename='pneuma.png') }}">
  </div>
  <div id="original" class="draggable effect bg">
    <img src="{{ url_for('static', filename='icewall.png') }}">
  </div>
  <div id="original" class="draggable effect bg">
    <img src="{{ url_for('static', filename='sanctuary.png') }}">
  </div>
  <div id="original" class="draggable effect bg">
    <img src="{{ url_for('static', filename='apple_of_adun.png') }}">
  </div>
  <div id="original" class="draggable effect bg">
    <img src="{{ url_for('static', filename='gypsy_kiss.png') }}">
  </div>
  <div id="original" class="draggable effect bg">
    <img src="{{ url_for('static', filename='quagmire.png') }}">
  </div>
  <div id="original" class="draggable effect bg">
    <img src="{{ url_for('static', filename='bragi.png') }}">
  </div>
<div>

<form id="party_plan_form" action="{{ url_for('party_planner_action') }}" method=post enctype=multipart/form-data>

<div class="form-group">
  <label for="nplanscreenshot">Add a Plan Screenshot</label>
  <input type="file" id="nplanscreenshot" name=nplanscreenshot placeholder="C:\screenshot\plan.jpg" value="{{ editplan.evidence_file_path|safe }}">
  <img for="nplanscreenshot" id="nplanscreenshotpreview" src="{{ editplan.evidence_url|safe }}" alt="your image" />
  <p class="help-block">Please submit a screenshot to go with the proposed plan.</p>
</div>

<div class="form-group">
  <label for="nplannotes">Notes</label>
  <textarea class="form-control" rows="3" id="nplannotes" name=nplannotes placeholder="We need a champ to tank, some high priests and a high wizard.">{{ editplan.notes }}</textarea>
</div>

<button type=submit class="btn btn-primary" id="btnsubmit" name=add value="{{ editplan.id|safe }}">Submit</button>
<p><strong>Note this is still in beta.  Feedback is always welcome!</strong></p>
</form>
<script>
      function readURL(input) {
    	if (input.files && input.files[0]) {
    	  var reader = new FileReader();
    	  reader.onload = function (e) {
    	    $('#nplanscreenshotpreview').attr('src', e.target.result);
    	  }
    	  reader.readAsDataURL(input.files[0]);
        }
      }
      $("#nplanscreenshot").change(function(){
        readURL(this);
      });
</script>
  {% endif %}
{% endblock %}