{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <h1 class="page-header">Runs</h1>
    <form role="form" action="{{ url_for('modify_runs') }}" method=post class=add-run>
    <div class="table-responsive">
    <table class="table table-striped run">
    <tr>
    <th>Modify</th>
    <th>Name</th>
    <th>Mobs Killed</th>
    <th>Screenshot</th>
    <th class="hidden-xs hidden-sm">Characters</th>
    <th>Date</th>
    <th class="hidden-xs hidden-sm">Success</th>
    <th class="hidden-xs hidden-sm">Notes</th>
    </tr>
    {% for r in runs %}
      <tr>
      <td><dd><button type=submit class="btn btn-default" name=delete value="{{ r.id }}">Delete</button><dd><button type=submit class="btn btn-default" name=edit value="{{ r.id }}">Edit</button></td>
      <td>{{ r.instance.name|safe }}</td>
      <td>
	    {% for m in r.mobs_killed %}
	      <li>{{ m.mob_id }} {{ m.mob_name }}
	    {% endfor %}
      </td>
      <td><img src="{{ r.evidence_url|safe }}" class="img-responsive" alt="Run screenshot"></td>
      <td class="hidden-xs hidden-sm">
        {% for c in r.chars %}
	      <li>{{ c.Name }} {{ c.Class }}
        {% endfor %}
      </td>
      <td>{{ r.date|safe }}</td>
      <td class="hidden-xs hidden-sm">{{ r.success|safe }}</td>
      <td class="hidden-xs hidden-sm">{{ r.notes|safe }}</td>
    {% endfor %}
    </table>
    </div>
    </form>
  {% endif %}
{% endblock %}