{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <h1 class="page-header">Runs</h1>
    <form role="form" action="{{ url_for('modify_runs') }}" method=post class=add-run>
    <div class="table-responsive">
    <table class="table table-striped run">
    <tr>
    <th>Modify</th>
    <th>Name</th>
    <th>Mobs Killed</th>
    <th>Screenshot</th>
    <th>Characters</th>
    <th>Date</th>
    <th>Success</th>
    <th>Notes</th>
    </tr>
    {% for r in runs %}
      <tr>
      <td><dd><button type=submit class="btn btn-default" name=delete value="{{ r.id }}">Delete</button><dd><button type=submit class="btn btn-default" name=edit value="{{ r.id }}">Edit</button></td>
      <td>{{ r.instance.name|safe }}</td>
      <td>
	    {% for m in r.mobs_killed %}
	      <li>{{ m.mob_id }} {{ m.mob_name }}
	    {% endfor %}
      </td>
      <td><img src="{{ r.evidence_url|safe }}" class="img-responsive" alt="Run screenshot"></td>
      <td>
        {% for c in r.chars %}
	      <li>{{ c.Name }} {{ c.Class }}
        {% endfor %}
      </td>
      <td>{{ r.date|safe }}</td>
      <td>{{ r.success|safe }}</td>
      <td>{{ r.notes|safe }}</td>
    {% endfor %}
    </table>
    </div>
    </form>

    <h2 class="sub-header">Add Run</h2>
    <form role="form" action="{{ url_for('add_run') }}" method=post enctype="multipart/form-data">
      <div class="form-group">
	    <label for="nrunname">Name</label>
	    <input type="text" class="form-control" id="nrunname" name=nrunname placeholder="Endless Tower" value="{{ editrun.instance_name }}"></input>
	  </div>
      <select name="instancelist">
	    {% for mi in mappedinstances %}
	      <option {% if mi.id in selected_run %} selected="True" {% endif %} value={{ mi.id|safe }}>{{ mi.name|safe }}</option>
	    {% endfor %}
	  </select>
	  <button type=submit name=action value=LoadInstance class="btn btn-primary">Load</button>
	  <h3>Mobs Killed in Party</h3>
	  <div class="table-responsive">
	    <table class="table table-striped mappedmob">
	      <tr>
	        <th>Killed Mob</th>
	        <th>Name</th>
	      </tr>
	      {% for mm in mappedmobs %}
	        <tr>
	          <td><input {% if mm in edit_run_mobs_killed %} checked="True" {% endif %} type=checkbox name=cbmobkill value="{{ mm.mob_id }}"></td>
	          <td>{{ mm.mob_name|safe }}</td>
	    	</tr>
	      {% endfor %}
	    </table>
	  </div>
	  <div class="form-group">
	    <label for="nrunscreenshot">Screenshot</label>
	    <input type="file" id="nrunscreenshot" name=nrunscreenshot placeholder="C:\screenshot\run.jpg" value="{{ editrun.evidence_file_path }}">
	    <p class="help-block">Please submit a screenshot</p>
	    <img src="{{ editrun.evidence_file_path|safe }}" class="img-responsive" alt="Run screenshot">
      </div>
      <h3>Characters in Party</h3>
	  <div class="table-responsive">
	    <table class="table table-striped mappedcharacter">
		  <tr>
		  <th>Part of Run</th>
		  <th>Name</th>
		  <th>Class</th>
		  </tr>
		  {% for mc in mappedcharacters %}
		    <tr>
		      <td><input {% if mc.id in edit_run_chars %} checked="True" {% endif %} type=checkbox name=cbsearch value="{{ mc.id }}"></td>
			  <td>{{ mc.Name|safe }}</td>
			  <td>{{ mc.Class|safe }}</td>
			</tr>
		  {% endfor %}
        </table>
	  </div>
	  <div class="form-group">
	    <label for="nrundate">Date</label>
	    <input type="text" class="form-control" id="nrundate" name=nrundate placeholder="12/12/2013" value="{{ editrun.date }}"></input>
	  </div>
	  <label>
	    <input
	      {% if editrun.success %}
		    checked="True"
		  {% endif %}
		  type=checkbox
		  id="cbsuccess"
		  name=cbsuccess
		  value="{{ editrun.success }}"> Success
	  </label>
	  <div class="form-group">
	    <label for="nrunnotes">Notes</label>
	  	<input type="text" class="form-control" id="nrunnotes" name=nrunnotes placeholder="Got to level 75" value="{{ editrun.notes }}"></input>
	  </div>
	  <button type=submit class="btn btn-primary" name=add value="{{ editrun.id }}">Submit</button>
    </form>
  {% endif %}
{% endblock %}