{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('show_entries') }}" method=post class=run-calculation>
      <dl>
        <dt>Google Document:
        <dd><input type=text name=gdocname>
        <dd><input type=submit name=action value=Calculate>
        <input type=submit name=action value=Reset>
      </dl>
    </form>
  <table class=combination>
  <tr>
  <th>Party Combination</th>
  <th>Player Name</th>
  <th>Character Name</th>
  <th>Class</th>
  <th>Role</th>
  </tr>
  {% for entry in combinations %}
    <tr>
    <td><h2>{{ entry.InstanceName }} {{ entry.PartyIndex }}</h2></td>
    <td>{{ entry.PlayerName|safe }}</td>
    <td>{{ entry.CharacterName|safe }}</td>
    <td>{{ entry.CharacterClass|safe }}</td>
    <td>{{ entry.RoleName|safe }}</td>
    </tr>
  {% else %}
    <li><em>Unbelievable.  No combinations here so far</em>
  {% endfor %}
  </table>
  {% endif %}
{% endblock %}