{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('show_entries') }}" method=post class=run-calculation>
      <dl>
        <dt>Google Document:
        <dd><input type=text name=gdocname placeholder="Quest Status">
        <dd><input type=submit name=action value=Import>
        <input type=submit name=action value=Calculate>
        <input type=submit name=action value=Reset>
      </dl>
    </form>
    <table class=character>
    <tr>
    <th>Class</th>
    <th>Name</th>
    <th>Role</th>
    <th>Quests</th>
    <th>Last Run</th>
    <th>Player Name</th>
    <th>Present</th>
    </tr>
    {% for char in characters %}
      <tr>
      <td><h2>{{ char.Class }}</h2></td>
      <td>{{ char.Name }}</td>
      <td>{{ char.Role}}</td>
      <td>
      {% for q in char.Quests %}
        <li>{{ q }}
      {% endfor %}
      </td>
      <td>{{ char.LastRun }}</td>
      <td>{{ char.PlayerName }}</td>
      <td>{{ char.Present }}</td>
    {% endfor %}
    </table>
    <table class=combination>
    <tr>
    <th>Party Combination</th>
    <th>Player Name</th>
    <th>Character Name</th>
    <th>Class</th>
    <th>Role</th>
    </tr>
    {% for entry in combinations %}
      <tr>
      <td><h2>{{ entry.InstanceName }} {{ entry.PartyIndex }}</h2></td>
      <td>{{ entry.PlayerName|safe }}</td>
      <td>{{ entry.CharacterName|safe }}</td>
      <td>{{ entry.CharacterClass|safe }}</td>
      <td>{{ entry.RoleName|safe }}</td>
      </tr>
    {% else %}
      <li><em>Unbelievable.  No combinations here so far</em>
    {% endfor %}
    </table>
  {% endif %}
{% endblock %}