{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <h1 class="page-header">Roster</h1>
    <form action="{{ url_for('show_entries') }}" method=post class=run-calculation>
      <dl>
        <dt>Google Document:
        <dd><input type=text name=gdocname placeholder="Quest Status">
        <dd><input type=submit class="btn btn-primary" name=action value="Import"></input>
        <input type=submit class="btn btn-default" name=action value="Reset"></input>
      </dl>
    </form>
    <h2 class="sub-header">Character</h2>
	  <form action="{{ url_for('add_character') }}" method=post>
	    <div class="form-group">
		  <label for="charclass">Class</label>
		  <input type="text" class="form-control" name=charclass id="charclass" placeholder="High Wizard">
	    </div>
	    <div class="form-group">
		  <label for="charname">Name</label>
		  <input type="text" class="form-control" name=charname id="charname" placeholder="Billdalf">
	    </div>
	    <div class="form-group">
		  <label for="charquests">Quests</label>
		  <input type="text" class="form-control" name=charquests id="charquests" placeholder="twotribes,attitudetothenewworld">
	    </div>
	    <div class="form-group">
		  <label for="charlastrun">Last Run</label>
		  <input type="datetime" class="form-control" name=charlastrun id="charlastrun" placeholder="2/9/2014">
	    </div>
	    <div class="form-group">
		  <label for="charplayername">Player Name</label>
		  <input type="text" class="form-control" name=charplayername id="charplayername" placeholder="Billy">
	    </div>
	    <div class="form-group">
		  <label for="charpresent">Present</label>
		  <input type="number" class="form-control" name=charpresent id="charpresent" placeholder="1">
	    </div>
	    <input type=submit class="btn btn-primary" name=action value="Add"></input>
      </dl>
    </form>
    <h2 class="sub-header">Character Status</h2>
    <div class="table-responsive">
    <table action="{{ url_for('update_chars') }}" method=post class="table table-striped character">
    <thead>
      <tr>
        <th>Manage</th>
        <th>Class</th>
        <th>Name</th>
        <th>Role</th>
        <th>Last Run</th>
        <th>Player Name</th>
        <th>Online?</th>
      </tr>
    </thead>
    {% for char in characters %}
      <tr>
      <td><input type=submit class="btn btn-default" name=action value="Drop"></input><input type=submit class="btn btn-default" name=action value="Edit"></input>
      <td>{{ char.Class|safe }}</td>
      <td>{{ char.Name|safe }}</td>
      <td>{{ char.Role|safe}}</td>
      <td>{{ char.LastRun|safe }}</td>
      <td>{{ char.PlayerName|safe }}</td>
      <td>{{ char.Present|safe }}</td>
    {% endfor %}
    </table>
    </div>
  {% endif %}
{% endblock %}