{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <h1 class="page-header">Transaction</h1><h3 class="text-right">My Points: {{ "{:,.0f}".format(points_amount)|safe }}</h3>
    <p>If you don't see your points here, please update your <a href="{{ url_for('user_profile') }}">Profile</a> and recalculate points!</p>
    <h2>Purchase History</h2>
    <div class="table-responsive">
    <table class="table table-striped transaction">
    <tr>
    <th>Name</th>
    <th>Date</th>
    <th>Amount</th>
    <th>Details</th>
    </tr>
    {% for p in purchases %}
      <tr>
      <td>{{ p[2].Name|safe }}</td>
      <td>{{ p[1].transDate|safe }}</td>
      <td>{{ "{:,.0f}".format(p[0].amount)|safe }}</td>
      <td>
        <dd>{{ p[2].Name|safe }} Bought {{ "{:,.0f}".format(p[0].amount) }} {{ p[0].name|safe }} for {{ "{:,.0f}".format(p[0].amount * p[0].minMarketPrice) }}
      </td>
    {% endfor %}
    </table>
    </div>
    <h2>Gift History</h2>
    <div class="table-responsive">
	    <table class="table table-striped transaction">
	    <tr>
	    <th>Name</th>
	    <th>Date</th>
	    <th>Amount</th>
	    <th>Details</th>
	    </tr>
	    {% for g in gifts %}
	      <tr>
	      <td>{{ g[0]|safe }}</td>
	      <td>{{ g[1]|safe }}</td>
	      <td>{{ "{:,.0f}".format(g[3])|safe }}</td>
	      <td>
	        <dd>
	          {{ g[0]|safe }} Gave points to {{ g[2]|safe }}
	      </td>
	    {% endfor %}
	    </table>
    </div>
  {% endif %}
{% endblock %}