{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <h1 class="page-header">Treasury</h1><h3 class="text-right">My Points: {{ "{:,.0f}".format(points_amount)|safe }}</h3>
    <p>If you don't see your points here, please update your <a href="{{ url_for('user_profile') }}">Profile</a> and recalculate points!</p>
    <form action="{{ url_for('modify_treasure') }}" method=post class=modify-treasury>
    <div class="table-responsive">
    <table class="table table-striped treasure">
    <tr>
    <th>Modify</th>
    <th>Itemid</th>
    <th>Name</th>
    <th>Cards</th>
    <th>Amount</th>
    <th>Unit Min Market Price</th>
    <th>Unit Max Market Price</th>
    <th>Unit Median Market Price</th>
    <th>Last Modified</th>
    <th>Guild Transaction</th>
    </tr>
    {% for t in treasures %}
      <tr>
      <td><dd><button type=submit class="btn btn-default" name=delete value="{{ t[0].id }}">Delete</button><dd><button type=submit class="btn btn-default" name=edit value="{{ t[0].id }}">Edit</button></td>
      <td>{{ t[0].itemid}}</td>
      <td>{{ t[0].name }}</td>
      <td>
      {% for c in t[0].cards.split('|') %}
        <li>{{ c.strip() }}
      {% endfor %}
      </td>
      <td>{{ "{:,.0f}".format(t[0].amount)|safe }}</td>
      <td>{% if t[0].minMarketPrice > 0 %} {{ "{:,.0f}".format(t[0].minMarketPrice)|safe }} {% else %} {{ t[0].minMarketPrice|safe }} {% endif %}</td>
      <td>{% if t[0].maxMarketPrice > 0 %} {{ "{:,.0f}".format(t[0].maxMarketPrice)|safe }} {% else %} {{ t[0].maxMarketPrice|safe }} {% endif %}</td>
      <td>{% if t[0].medianMarketPrice > 0 %} {{ "{:,.0f}".format(t[0].medianMarketPrice)|safe }} {% else %} {{ t[0].medianMarketPrice|safe }} {% endif %}</td>
      <td>{{ t[0].refreshDate|safe }}</td>
      <td>{% if t[1] %}
            <dd>
              {{ t[1].transType|safe }} by: {{ t[2].Name|safe }} on {{ t[1].transDate|safe }}
          {% else %}
            <dd>
              <button type=submit class="btn btn-primary" name=buy value="{{ t[0].id }}">Buy</button>
              <p class="help-block">Buy for {{ "{:,.0f}".format(t[0].minMarketPrice * t[0].amoun) }} points</p>
          {% endif %}</td>
    {% endfor %}
    </table>
    </div>
    </form>
    <form action="{{ url_for('add_treasure') }}" method=post>
	  <h2 class="sub-header">Add Item</h2>
	  <div class="form-group">
	  	<label for="nitemid">Item Id</label>
	  	<input type="number" class="form-control" id="nitemid" name=nitemid placeholder="1560" value="{{ edittreasure.itemid }}"></input>
	  </div>
	  <div class="form-group">
	    <label for="nitemname">Item Name</label>
	    <input type="text" class="form-control" id="nitemname" name=nitemname placeholder="Sage's Diary [2]" value="{{ edittreasure.name }}"></input>
	  </div>
	  <div class="form-group">
	    <label for="nitemcards">Cards</label>
	    <input type="text" class="form-control" id="nitemcards" name=nitemcards placeholder="Doppelganger Card, Turtle General Card" value="{{ edittreasure.cards }}"></input>
	  </div>
	  <div class="form-group">
	    <label for="nitemamount">Amount</label>
	    <input type="number" class="form-control" id="nitemamount" name=nitemamount placeholder="1" value="{{ '{:,.0f}'.format(edittreasure.amount)|safe }}"></input>
	  </div>
	  <div class="form-group">
	    <label for="nitemminprice">Suggested Min Price</label>
	    <input type="number" class="form-control" id="nitemminprice" name=nitemminprice placeholder="1" value="{% if edittreasure.minMarketPrice > 0 %} {{ '{:,.0f}'.format(edittreasure.minMarketPrice)|safe }} {% else %} {{ edittreasure.minMarketPrice|safe }} {% endif %}"></input>
	    <p class="help-block">Suggested Minimum Price.  If nothing is specified, we'll check the <a href="{{ url_for('market_history') }}">Market</a> for it and calculate accordingly.</p>
	  </div>
	  <div class="form-group">
	    <label for="nitemmaxprice">Suggested Max Price</label>
	    <input type="number" class="form-control" id="nitemmaxprice" name=nitemmaxprice placeholder="1" value="{% if edittreasure.maxMarketPrice > 0 %} {{ '{:,.0f}'.format(edittreasure.maxMarketPrice)|safe }} {% else %} {{ edittreasure.maxMarketPrice|safe }} {% endif %}"></input>
	    <p class="help-block">Suggested Maximum Price.  If nothing is specified, we'll check the <a href="{{ url_for('market_history') }}">Market</a> for it and calculate accordingly.</p>
	  </div>
	  <div class="form-group">
	    <label for="nitemmedianprice">Suggested Median Price</label>
	    <input type="number" class="form-control" id="nitemmedianprice" name=nitemmedianprice placeholder="1" value="{% if edittreasure.medianMarketPrice > 0 %} {{ '{:,.0f}'.format(edittreasure.medianMarketPrice)|safe }} {% else %} {{ edittreasure.medianMarketPrice|safe }} {% endif %}"></input>
	    <p class="help-block">Suggested Median Price.  If nothing is specified, we'll check the <a href="{{ url_for('market_history') }}">Market</a> for it and calculate accordingly.</p>
	  </div>
	  <button type=submit class="btn btn-primary" name=add value="{{ edittreasure.id }}">Submit</button>
    </form>
  {% endif %}
{% endblock %}