{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <h1 class="page-header">Roster</h1>
    <form action="{{ url_for('viable_parties') }}" method=post class=run-calculation>
      <div class="form-group">
	    <label for="gdocname">Google Document</label>
	    <input type="text" class="form-control" name=gdocname id="gdocname" placeholder="Quest Status">
	    <p class="help-block">Place a copy of <a href="https://docs.google.com/spreadsheet/ccc?key=0AmzfL1xpw-ENdDNsWll2RTNYRlVDOE81cE9OSmM1aEE&usp=sharing" target="_blank">Example Quest Status</a> in your google drive.</p>
	  </div>
      <dl>
        <button type=submit class="btn btn-primary" name=action value='Calculate'>Calculate</button>
        <button type=submit class="btn btn-default" name=action value='Refresh'>Refresh</button>
      </dl>
    </form>
    <h2 class="sub-header">Party Combinations</h2>
    <table class="table table-striped combination">
    <thead>
      <tr>
        <th>Party Combination</th>
        <th>Player Name</th>
        <th>Character Name</th>
        <th>Class</th>
        <th>Role</th>
      </tr>
    </thead>
    {% for entry in combinations %}
      <tr>
      <td>{{ entry.InstanceName }} {{ entry.PartyIndex|safe }}</td>
      <td>{{ entry.PlayerName|safe }}</td>
      <td>{{ entry.CharacterName|safe }}</td>
      <td>{{ entry.CharacterClass|safe }}</td>
      <td>{{ entry.RoleName|safe }}</td>
      </tr>
    {% else %}
      <li><em>Unbelievable.  No combinations here so far</em>
    {% endfor %}
    </table>
    </div>
  {% endif %}
{% endblock %}